#section01 {
  height: 470px;
}

#absoluteP {
  border: greenyellow solid 6px;
  background-color: indigo;
}



/* 
#article01 {
  position: absolute;
  top: -50px;
  left: 50px;
}

#section01 {
  position: relative;
}

#article03 {
  position: absolute;
  bottom: -50px;
  right: 50px;
}
#absoluteP {
  position: absolute;
  bottom: 50px;
  right: 50px;
} 

*/
