/*Verschillende waarden voor overflow*/
#article01 {
      overflow: hidden;
}

#article02 {
      overflow: auto;
      height: 185px;
}

#article03 {
      overflow: scroll;
}

/*Verschillend gedrag tov een floating element*/

section {
     overflow: hidden;
}

#divLogoSection {
      float: left;
      border: 4px solid red;
}

span  {
      background-color: magenta;
}

#divInleiding {
      display: block;
      background-color: thistle;
}

#divSamenvatting {
      display: inline;
      background-color: lime;
}



img {
      display: block;
}



